.notch {
  position: absolute; 
  top: 11px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 27vw; 
  height: auto; 
  z-index: 5;
}


.cornerA, .cornerB {
  position: absolute;
  top: 12px;
  z-index: 5;
  pointer-events: none;
}

.cornerC, .cornerD {
  position: absolute;
  bottom: 12px;
  z-index: 5;
  pointer-events: none;
}

.cornerA {
  left: 12px;
}

.cornerB {
  right: 12px;
}

.cornerC {
  left: 12px;
}

.cornerD {
  right: 12px;
}

.cornerA, .cornerB, .cornerC, .cornerD {
  height: 11vh;
  width: auto;
}